$yellow: #F2EC35;

$red: #D22F27;

$black: #000;
$black-1000: #030015;
$black-950: #0B081C;
$black-900: #181628;
$black-800: #2D2B3B;
$black-700: #42404E;
$black-600: #565662;
$black-500: #6B6B75;
$black-400: #808088;
$black-300: #95969C;
$black-200: #AAABAF;
$black-150: #B3B2B9;
$black-100: #BFC0C3;
$black-50: #D4D5D7;
$black-25: #F1F3F5;
$white: #FFFFFF;


$tablet: 1024px;
$mobile: 767px;